<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.analyse.mapper.BxgxfxMapper">
	<resultMap id="BxhcgxBaseResultMap"
		type="com.car.analyse.dto.BxhcgxAnalyseDTO">
		<result column="cbfs" jdbcType="VARCHAR" property="cbfs" />
		<result column="cls" jdbcType="INTEGER" property="cls" />
		<result column="zxcls" jdbcType="INTEGER" property="zxcls" />
		<result column="zxzb" jdbcType="DOUBLE" property="zxzb" />
		<result column="hccls" jdbcType="INTEGER" property="hccls" />
		<result column="hczb" jdbcType="DOUBLE" property="hczb" />
		<result column="bzxcls" jdbcType="INTEGER" property="bzxcls" />
		<result column="bzxzb" jdbcType="DOUBLE" property="bzxzb" />
		<result column="whccls" jdbcType="INTEGER" property="whccls" />
		<result column="whczb" jdbcType="DOUBLE" property="whczb" />
	</resultMap>

	<resultMap id="BxhcpcgxBaseResultMap"
		type="com.car.analyse.dto.BxhcpcgxAnalyseDTO">
		<result column="zxkh" jdbcType="VARCHAR" property="zxkh" />
		<result column="cls" jdbcType="INTEGER" property="cls" />
		<result column="hcpcjz" jdbcType="DOUBLE" property="hcpcjz" />
		<result column="hccls" jdbcType="INTEGER" property="hccls" />
		<result column="jscls" jdbcType="INTEGER" property="jscls" />
		<result column="jsclszb" jdbcType="DOUBLE" property="jsclszb" />
		<result column="jscsjz" jdbcType="DOUBLE" property="jscsjz" />
		<result column="jscz" jdbcType="DOUBLE" property="jscz" />
		<result column="jsczzb" jdbcType="DOUBLE" property="jsczzb" />
	</resultMap>

	<select id="bxhcgxAnalyseXb" resultMap="BxhcgxBaseResultMap">
		select
		'${year}新保' as
		cbfs,cls,zxcls,hccls,bzxcls,(cls-hccls) as
		whccls,convert(zxcls/cls*100,decimal(10,2)) as
		zxzb,convert(zxcls/cls*100,decimal(10,2)) as
		zxzb,convert(hccls/cls*100,decimal(10,2)) as
		hczb,convert(bzxcls/cls*100,decimal(10,2)) as
		bzxzb,convert((cls-hccls)*100/cls,decimal(10,2)) as whczb
		from
		(select
		(
		select
		count(distinct cjh)
		from
		${year}xbsj
		) as cls,
		(
		select
		count(distinct cjh)
		from ${year}xbsj a
		inner join ${year}shsj b on
		a.cjh
		=
		b.vin
		where
		b.wxsrll > 0
		) as zxcls,
		(
		select count(distinct cjh)
		from
		${year}xbsj a
		inner join ${year}shsj b
		on a.cjh =
		b.vin
		) as hccls,
		(
		select
		count(distinct cjh) from ${year}xbsj
		a inner join ${year}shsj
		b
		on
		a.cjh
		=
		b.vin
		where b.wxsrll = 0
		) as bzxcls
		) t
	</select>

	<select id="bxhcgxAnalyseRb" resultMap="BxhcgxBaseResultMap">
		select
		'${year}续保' as
		cbfs,cls,zxcls,hccls,bzxcls,(cls-hccls) as
		whccls,convert(zxcls/cls*100,decimal(10,2)) as
		zxzb,convert(hccls/cls*100,decimal(10,2)) as
		hczb,convert(bzxcls/cls*100,decimal(10,2)) as
		bzxzb,convert(zxcls/cls*100,decimal(10,2)) as
		zxzb,convert((cls-hccls)/cls*100,decimal(10,2)) as whczb
		from
		(select
		(
		select
		count(distinct cjh) from
		${year}rbsj
		) as cls,
		(
		select
		count(distinct cjh)
		from ${year}rbsj a
		inner join ${year}shsj b on
		a.cjh
		=
		b.vin
		where
		b.wxsrll > 0
		) as zxcls,
		(
		select count(distinct cjh)
		from
		${year}rbsj a
		inner join ${year}shsj b
		on a.cjh =
		b.vin
		) as hccls,
		(
		select
		count(distinct cjh) from ${year}rbsj
		a inner join ${year}shsj
		b
		on
		a.cjh
		=
		b.vin
		where b.wxsrll = 0
		) as bzxcls
		) t
	</select>

	<sql id="select_filter_vin_by_date">
		select
		vin,jssj,max(wxsrll) as wxsrll from
		${year}shsj group
		by
		vin,DATE_FORMAT(jssj,
		'%Y-%m-%d')
	</sql>
	<sql id="select_all_cjh">
		select
		cjh,zbsj from ${year-1}xbsj
		union ALL
		select cjh,zbsj
		from ${year}xbsj
		union ALL
		select cjh,zbsj from
		${year-1}rbsj
		union ALL
		select cjh,zbsj
		from ${year}rbsj
	</sql>

	<select id="bxhcpcgxAnalyseZxbzbCls"
		resultMap="BxhcpcgxBaseResultMap">
		select count(distinct vin) as cls from
		(
		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		)
		) t7
	</select>

	<select id="bxhcpcgxAnalyseZxbzbHcCls"
		resultMap="BxhcpcgxBaseResultMap">
		select count(vin) as hccls from
		(
		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		)
		) t7
	</select>

	<select id="bxhcpcgxAnalyseZxbzbJsCls"
		resultMap="BxhcpcgxBaseResultMap">
		select count(vin) as jscls from
		(
		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj and
		t1.wxsrll &gt;0

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		) and
		t5.wxsrll &gt;0
		) t7
	</select>

	<select id="bxhcpcgxAnalyseZxbzbJsCz"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(wxsrll) as jscz from
		(
		select vin,wxsrll from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj and
		t1.wxsrll &gt;0

		union
		all

		select vin,wxsrll from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		) and
		t5.wxsrll &gt;0
		) t7
	</select>

	<select id="bxhcpcgxAnalyseZxbzbJsZcz"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(wxsrll) jscz from
		${year}shsj
	</select>

	<select id="bxhcpcgxAnalyseZxbzbGpCls"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(cls) as cls from
		(
		select count(distinct vin) as cls from
		(
		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		)
		) t7 group by t7.vin having count(t7.vin) >= ${gpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbGpHcCls"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(hccls) as hccls from
		(
		select count(vin) as hccls from
		(
		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		)
		) t7 group by t7.vin having count(t7.vin) >= ${gpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbGpJsCls"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(jscls) as jscls from
		(
		select count(vin) as jscls from
		(
		select vin
		from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj and
		t1.wxsrll &gt;0

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		) and
		t5.wxsrll &gt;0
		) t7 group by t7.vin having count(t7.vin) >=
		${gpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbGpJsCz"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(wxsrll) as jscz from
		(
		select wxsrll from
		(
		select vin,wxsrll
		from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj and
		t1.wxsrll &gt;0

		union
		all

		select vin,wxsrll from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		) and
		t5.wxsrll &gt;0
		) t7 group by t7.vin having count(t7.vin) >=
		${gpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbGpJsZcz"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(wxsrll) as jscz from
		(
		select sum(wxsrll) as wxsrll from
		${year}shsj group by vin having
		count(vin) >= ${gpcs}
		) t1
	</select>
	
	<select id="bxhcpcgxAnalyseZxbzbDpCls"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(cls) as cls from
		(
		select count(distinct vin) as cls from
		(
		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		)
		) t7 group by t7.vin having count(t7.vin) &lt; ${dpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbDpHcCls"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(hccls) as hccls from
		(
		select count(vin) as hccls from
		(
		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		)
		) t7 group by t7.vin having count(t7.vin) &lt; ${dpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbDpJsCls"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(jscls) as jscls from
		(
		select count(vin) as jscls from
		(
		select vin
		from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj and
		t1.wxsrll &gt;0

		union
		all

		select vin from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		) and
		t5.wxsrll &gt;0
		) t7 group by t7.vin having count(t7.vin) &lt;
		${dpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbDpJsCz"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(wxsrll) as jscz from
		(
		select wxsrll from
		(
		select vin,wxsrll
		from
		(
		<include refid="select_filter_vin_by_date" />
		) t1
		inner join
		(
		select cjh,max(zbsj) as
		zbsj from
		(
		<include refid="select_all_cjh" />
		) t2
		group by cjh
		) t3
		on t1.vin = t3.cjh
		where t3.zbsj &lt;
		t1.jssj and
		t1.wxsrll &gt;0

		union
		all

		select vin,wxsrll from
		(
		<include refid="select_filter_vin_by_date" />
		) t5
		where t5.vin not in
		(select cjh
		from
		(
		<include refid="select_all_cjh" />
		) t6
		) and
		t5.wxsrll &gt;0
		) t7 group by t7.vin having count(t7.vin) &lt;
		${dpcs}
		) t8
	</select>

	<select id="bxhcpcgxAnalyseZxbzbDpJsZcz"
		resultMap="BxhcpcgxBaseResultMap">
		select sum(wxsrll) as jscz from
		(
		select sum(wxsrll) as wxsrll from
		${year}shsj group by vin having
		count(vin) &lt; ${dpcs}
		) t1
	</select>
</mapper>